[Unit]
Description=Memu OS Setup Wizard
After=network.target

[Service]
User=root
WorMemugDirectory=/home/hareesh/memu-os/bootstrap
ExecStart=/usr/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target
